@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #296ca8;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 100px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

/* Filter Box */
.filter-container {
  width: 80vw;
  max-width: 800px;
  margin-top: 20px;
}

input.filter {
  width: 100%;
  padding: 12px;
}

/* Blog Post */
.post {
  background: #4992d3;
  position: relative;
  display: flex;
  width: 80vw;
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0 0 0 / 0.3);
  margin: 40px 0;
}

.post .post-title {
  margin: 0;
}

.post .post-body {
  line-height: 1.3;
  margin: 15px 0 0;
}

.post .post-info {
  margin-left: 20px;
}

.post .number {
  background: #fff;
  color: #296ca8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding: 7px 10px;
  border-radius: 50%;
}

/* Loader Animation */
.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}

.circle {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    tranform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}